@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ededed;
  
  --animate-grid-flow: grid-flow 20s linear infinite;
  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee-vertical: marquee-vertical 25s linear infinite;
  
  @keyframes grid-flow {
    0% { transform: translateY(0); }
    100% { transform: translateY(40px); }
  }

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-100% - var(--gap))); }
  }

  @keyframes marquee-vertical {
    from { transform: translateY(0); }
    to { transform: translateY(calc(-100% - var(--gap))); }
  }
}

/* Custom Theme Variables */
  :root {
  --background: #000000;
    --foreground: #ededed;
  }

/* Base Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
